<!DOCTYPE html>
<html>
  <% provide(:title, "About") %>
  <body>
    <h1>About Page</h1>
    <p>
      This is the about page for the <a href="https://www.railstutorials.org">Ruby on Rails Tutorial</a> sample application.
    </p>
  </body>
</html>

