<!DOCTYPE html>
<html>
  <% provide(:title, 'Contact') %>
  <body>
    <h1>Contact</h1>
    <p>
      Contact the developer about the video capture app at this <a href="mailto:pranay.mundra@outlook.com">address</a>.
    </p>
  </body>
</html>
