<!DOCTYPE html>
<html>
  <% provide(:title, 'Contact') %>
  <body>
    <h1>Contact</h1>
    <p>
      Contact the Ruby on Rails Tutorial about the sample app at the <a href="//railstutorials.org/contact">contact page</a>.
    </p>
  </body>
</html>
