<!DOCTYPE html>
<html>
  <% provide(:title, "Help") %>
  <body>
    <h1>Help</h1>
    <p>
      This is the help page for the <a href="https://www.railstutorials.org">Ruby on Rails Tutorial</a> sample application.
    </p>
  </body>
</html>

